body
{
  background-color:#ff6f1;
  font-family:"Helvetica",Arial;

}
#contenido
{
 width:960px;
 margin:0 auto;
 text-align:center;
}
h1
{
	color:#e44e2d;
	font-family: 'Russo One', sans-serif;
}

header hgroup h1
{
	border-bottom:solid;
	padding-bottom:10px;
	border-width:1px;
	border-color:#1d1d1d;
	text-shadow:0px 0px 30px rgba(0,0,0,0.5);
}

nav ul li
{
	display:inline-block;
	margin-right:20px;
	color:#1d1d1d;
	cursor: pointer;
	padding:5px;
	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
}

nav ul li:hover
{
	background-color:#1d1d1d;
	color:#e44e2d;
	border-radius:5px;
}
nav ul li a
{
	text-decoration:none;
}
#textoPr
{
	width:600px;
	height:300px;
	background-color:#1d1d1d;
	color:#fff;
	margin:0 auto;
	text-align:left;
	border-radius:20px;
	padding:20px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.5);
}
a
{
	color:#e44e2d;
	font-weight:bold;
}
#miCanvas
{
	position absolute;
	bottom:0px;
	top:0px;
	left:0px;
}

meter
{
	background-color:#fff;
	padding:5px
	border-radius:5px;
	color:#e44e2d;
	margin-left:20px;
	width:200px;
}

label
{
	display: block;
}

#btnSubmit
{
	border:none;
	background-color:#fff;
	color:#e44e2d;
	padding: 4px;
	margin 20px;
	cursor: pointer;
	font-family: 'Russo One', sans-serif;
}

#calif
{
	width:150px;
	-webkit-appearance:none;
	background-color:#fff;
	height: 20px;
	border-radius:5px;
	cursor: pointer;
}

#calif::-webkit-slider-thumb
{
	-webkit-appearance:none;
	background-color:#e44e2d;
	border-radius:10px;
	height:15px;
	width:10px;
}

#mediaC
{
	box-sizing:border-box;
}
.particion
{
	display: inline-block;
	width:45%;
}
#mediaC audio
{
 width:200px;
}

#mediaC video
{
	height:180px;
}